.user-show-page {
  max-width: 414px;
  margin:0 auto;
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-default-img {
      height:128px;
      width:128px;
      object-fit: cover;
      border-radius: 50%;
      background-image: url("~profile_default_img_128.png");
      background-size: contain;
    }
    &-img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      object-fit:cover;
    }
    &-name {
      font-size: 24px;
    }
    &-text {
      padding:16px 24px 16px;
      word-break:break-all;
    }
  }
}

